@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: underline;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

ul{
    display: flex;
}

li {
    list-style-type: none;
    padding: 16px;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* 

NAVBAR ↓

*/

nav {
    display: flex;
    padding: 24px 24px;
    align-items: center;
    justify-content: space-between;
}


.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links--list{
    font-weight: bold;
}

.nav__links--list-primary{
   background-color: #6415ff;
   color: white;
   border-radius: 50px;
   padding: 8px 20px; 
}

.nav__links--list-primary:hover{
    background-color: rgba(80, 17, 204);
    color: white;
     text-decoration: none;
     transition: all 300ms ease;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 31px;
    margin-right: 31px;
    max-width: 1200px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

section {
  padding: 0 32px;
}
header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__description {
  width: 60%;
}
.header__description--para {
  margin: 32px 0;
}
.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}
.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}
.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}
.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}
.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}
.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}
.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}
.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}
header {
  position: relative;
}
.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  transform: matrix(1, 0, 0, 1, -163, 0);
}
.header__img--wrapper {
  width: calc(100% - 40%);
}
.header__img {
  width: 100%;
  max-width: 768px;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;  
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0px;
    letter-spacing: 0.025em;
}

#features .section__para{
    text-align: center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
}

.features {
    display:flex;
    flex-wrap: wrap;
    margin: 40px;
}

.feature{
    width:calc(100% / 3);
    text-align: center;
    line-height: 1.5;
}

.feature__title, .feature__para{
    padding: 8px;
}

.feature__img{
    margin-top: 32px;
    width: 56px;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}